[tool.ruff]
line-length = 120
target-version = "py312"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "T20",  # Print
    "TC001",  # Move into type checking block
    "D203",  # Incorrect blank line before class
    "D212",  # Multi line summary second line
]